
/* #fp-nav ul li a span {
  background: '#fff';
} */

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}


.section{
  height: 100vh;
  
}

.fp-section {
  text-align: center;
}